* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_container {
    display: grid;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}



.canvas_item_10 {
    height: 70px;
    width: 70px;
    border: 1px solid black;

}

.canvas_item_20 {
    height: 35px;
    width: 35px;
    border: 1px solid black;
}

.canvas_item_40 {
    height: 17px;
    width: 17px;
    border: 1px solid black;
}

.canvas_item_80 {
    height: 8px;
    width: 8px;
    border: 1px solid black;
}